<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/dashboard">TODO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todo">Task List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/todo/create">Add task</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/profile" method="GET">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">PROFILE</button>
      </form> &nbsp;
      <form class="form-inline my-2 my-lg-0" action="/users/logout" method="GET">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">LOGOUT</button>
      </form>
    </div>
  </nav>