<div style="background-color: red;">
    <div style="background-color: rgb(98, 102, 104);padding:50px;padding-top:70px;">
    <h4>At Todo.com</h4>
<p>we believe everyone deserves to have an task list manager. Innovation and simplicity 
    makes us happy: our goal is to remove any technical or financial barriers so we happily 
    dedicated our website to the people for unlimited usage and which is free from any cost.</p>
    </div>
</div>