<% include ./partials/navbar.ejs %>
<link rel='stylesheet' href='/stylesheets/style.css' />
<br>
<div class="dashcontainer">
<img src="/images/mainback.jpg" style="  filter: blur(8px);
-webkit-filter: blur(8px);">
<div class="centered">
<p class="lead mb-3" style="color:rgb(57, 247, 221);font-size: 60px; text-align: center">Hey! <%= user.name %></p>
<br>
  <body>
    <h1><%= title %></h1>
  </body>
  </div>
</div>

