<div style="padding:50px; color:lightseagreen">
    <center><h2><%= title %> </h2></center>
<br>
<div style="color: white; font-style:bold; text-align: center">
    <h3 > <%= user.name %></h3>
    <p>Total number of task pending <%= user.name.length %></p>
</div>
</div>